/nodejs/project-crud/node_modules
/e-commerce_microservice_application/auth-service/node_modules
/e-commerce_microservice_application/order-service/node_modules
/e-commerce_microservice_application/product-service/node_modules